#bestCurrentSection{
    -fx-border-color: black;
    -fx-border-width: 2px;
}
#bestCurrentText{
    -fx-border-color: black;
    -fx-border-width: 2px;
}
#cpuSection{
    -fx-border-color: black;
    -fx-border-width: 2px;
}
#memorySection{
    -fx-border-color: black;
    -fx-border-width: 2px;
}

#background{
    -fx-padding: 10;
}