#stage {
    -fx-padding: 10px;
}

#scheduleBarChart .chart-content .chart-plot-background {
    -fx-background-color: transparent;
}

#parallelBarChart .chart-content .chart-plot-background {
    -fx-background-color: transparent;
}

.backgroundImg {
    -fx-background-image: url('/images/homebg.jpg');
    -fx-background-repeat: no-repeat; /* Prevent the image from repeating */
    -fx-background-size: cover; /* Scale the image to cover the entire pane */
}

#startBtn {
    -fx-background-color: #34c2b6; /* Green */
    -fx-border-width: none;
    -fx-text-fill: white;
    -fx-font-family: "SHUTTLE-X";
    -fx-padding: 15px 32px;
    -fx-text-alignment: center;
    -fx-font-size: 24px;
    -fx-background-radius: 20;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #dadada;
    -fx-opacity: 0.25;
    -fx-stroke-width: 1px;
    -fx-stroke-dash-array: 5 5;
}

.chart-vertical-grid-lines {
    -fx-stroke: #dadada;
    -fx-opacity: 0.25;
    -fx-stroke-width: 1px;
    -fx-stroke-dash-array: 5 5;
}

.section {
    -fx-background-color: #282828;
    -fx-padding: 30;
    -fx-background-radius: 15;
}

.sectionCharts {
    -fx-background-color: #282828;
    -fx-background-radius: 15;
}

.brandBGColour {
    -fx-background-color: #03DAC6;
}

.sectionValue {
    -fx-text-fill: #dadada;
    -fx-font-size: 31;
    -fx-alignment: center-left;
    -fx-font-family: "SHUTTLE-X";
}

.sectionTitle {
    -fx-font-size: 12;
    -fx-fill: #dadada;
    -fx-alignment: center-left;
    -fx-font-family: "SHUTTLE-X";
}

.sectionFinishTitle {
    -fx-font-size: 12;
    -fx-fill: #dadada;
    -fx-alignment: center-left;
    -fx-font-family: "SHUTTLE-X";
}

.sectionOSValues {
    -fx-text-fill: #dadada;
    -fx-font-size: 12;
    -fx-font-family: "SHUTTLE-X";
}

.chartTitle {
    -fx-text-fill: #dadada;
    -fx-font-size: 18;
    -fx-font-weight: 800;
    -fx-font-family: "SHUTTLE-X";
}

.dataValue {
    -fx-fill: #fff;
    -fx-font-family: "SHUTTLE-X";
}

.dataSeries {
    -fx-background-radius: 6;
}

.mainFont {
    -fx-font-family: "SHUTTLE-X";
}